body#tinymce.wp-editor {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333;
	background-color: #f4f4f4;
	max-width: 645px;
}

body#tinymce.wp-editor div.wpview {
	width: 800px;
}

body#tinymce.wp-editor a {
	text-decoration: none;
	color: #980006;
}

body#tinymce.wp-editor a:hover {
	color: #555;
}

body#tinymce.wp-editor h1 {
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 30px;
}

body#tinymce.wp-editor h2 {
	font-size: 21px;
	margin-top: 30px;
	margin-bottom: 15px;
}

body#tinymce.wp-editor h3 {
	font-size: 17px;
	margin-top: 50px;
	margin-bottom: 15px;
}

body#tinymce.wp-editor h4 {
	font-weight: bold;
	font-size: 14px;
	margin-top: 50px;
	margin-bottom: 15px;
}

body#tinymce.wp-editor p {
	line-height: 25px;
	margin-bottom: 20px;
}

body#tinymce.wp-editor h1 + p {
	margin-top: 50px;
}

body#tinymce.wp-editor h1 + .accordion-header {
	margin-top: 45px;
}

body#tinymce.wp-editor .intro-text {
	color: #787878;
	font-size: 22px;
	line-height: 30px;
	font-weight: 300;
	margin-bottom: 30px;
}

body#tinymce.wp-editor ul {
	list-style-type: disc;
	margin-left: 40px;
}

body#tinymce.wp-editor ol {
	margin-left: 40px;
}

body#tinymce.wp-editor ul li,
body#tinymce.wp-editor ol li {
	line-height: 25px;
	margin-bottom: 10px;
}

body#tinymce.wp-editor blockquote {
	margin: 30px 0 45px 95px;
	padding-left: 20px;
	border-left: 3px solid #900;
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
}

body#tinymce.wp-editor blockquote p {
	line-height: 32px;
	margin-bottom: 45px;
}

body#tinymce.wp-editor .wp-caption {
	max-width: 100%;
	border: none;
	border-top: 1px solid #d7d7d7;
	text-align: left;
	background-color: #f4f4f4;
	padding-top: 0;
}

body#tinymce.wp-editor .alignleft {
	float: left;
}

body#tinymce.wp-editor .aligncenter {
	display: block;
	margin: 0 auto;
}

body#tinymce.wp-editor .alignright {
	float: right;
}

body#tinymce.wp-editor .wp-caption.alignright,
body#tinymce.wp-editor img.alignright {
	margin-left: 10px;
}

body#tinymce.wp-editor .wp-caption.alignright p.wp-caption-text,
body#tinymce.wp-editor img.alignright {
	margin-bottom: 10px;
}

body#tinymce.wp-editor .wp-caption.alignleft,
body#tinymce.wp-editor img.alignleft {
	margin-right: 10px;
}

body#tinymce.wp-editor .wp-caption.alignleft p.wp-caption-text,
body#tinymce.wp-editor img.alignleft {
	margin-bottom: 10px;
}

body#tinymce.wp-editor .wp-caption-dd {
	font-size: 13px;
	line-height: 20px;
	color: #6a6a6a;
	padding: 15px 0 25px 0;
	border-bottom: 1px solid #e0e0e0;
}

body#tinymce.wp-editor .signature-name {
	font-size: 16px;
	margin-bottom: 0;
	line-height: 24px;
}

body#tinymce.wp-editor .signature-title {
	font-size: 12px;
	line-height: 14px;
	color: #878787;
	margin: 0;
}

body#tinymce.wp-editor .callout {
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
	padding: 15px;
	background: #fff;
	border-radius: 5px;
}

body#tinymce.wp-editor .callout h2,
body#tinymce.wp-editor .callout h3,
body#tinymce.wp-editor .callout h4 {
	margin-top: 0;
}

body#tinymce.wp-editor .callout p {
	margin-bottom: 10px;
}

body#tinymce.wp-editor .callout p:last-child {
	margin: 0;
}

body#tinymce.wp-editor .accordion-header {
	border: 1px dashed red;
	margin-bottom: 10px;
}

body#tinymce.wp-editor .accordion-header p,
body#tinymce.wp-editor .accordion-header h2,
body#tinymce.wp-editor .accordion-header h3,
body#tinymce.wp-editor .accordion-header h4 {
	padding: 15px;
	margin: 0;
	line-height: normal;
}

body#tinymce.wp-editor .accordion-body-text {
	border: 1px dashed blue;
	padding: 15px;
	margin-bottom: 10px;
}

body#tinymce.wp-editor .accordion-body-text > p {
	margin: 0 0 20px;
}

body#tinymce.wp-editor .accordion-body-text > p:last-child,
body#tinymce.wp-editor .accordion-body-text > ul li:last-child,
body#tinymce.wp-editor .accordion-body-text > ol li:last-child {
	margin-bottom: 0;
}

body#tinymce.wp-editor .accordion-body-text > h2:first-child,
body#tinymce.wp-editor .accordion-body-text > h3:first-child,
body#tinymce.wp-editor .accordion-body-text > h4:first-child {
	margin-top: 0;
}

body#tinymce.wp-editor .disclaimer {
	font-size: 12px;
	color: #a0a0a0;
}

body#tinymce.wp-editor .disclaimer p {
	line-height: 17px;
}

body#tinymce.wp-editor a.wusm-button {
	display: inline-block;
	line-height: 14px;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	background: #990000;
	padding: 15px 25px;
	border-radius: 3px;
	letter-spacing: 1px;
	transition: background 0.1s ease;
	margin: 0 20px 10px 0;
	cursor: pointer;
	font-weight: bold;
}

body#tinymce.wp-editor a.wusm-button:hover {
	background: #720000;
	color: #fff;
}

.mceItemTable {
	border: none;
}

.mceItemTable tr:nth-child(odd) {
	background-color: #e4e3e3;
}

.mceItemTable tr:nth-child(even) {
	background-color: #fff;
}

.mceItemTable th {
	text-align: left;
	vertical-align: top;
}

.mceItemTable th,
.mceItemTable td {
	padding: 10px;
	border: none;
	border-left: 1px solid #f4f4f4;
}

.mceItemTable thead td {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background-color: #fff;
}

.mceItemTable th:first-child,
.mceItemTable td:first-child {
	border: none;
}

.mceItemTable td {
	font-size: 12px;
}

.mceItemTable td p {
	line-height: normal;
	margin-bottom: 10px;
}

.mceItemTable td p:last-child {
	margin-bottom: 0;
}

.wusm-cols {
	box-sizing: border-box;
	padding: 10px;
	display: inline-block;
	margin-right: -2px;
	vertical-align: top;
	border: 1px dashed #666;
}

.cols-2 {
	width: 49%;
}

.cols-3 {
	width: 33%;
}

.cols-4 {
	width: 24%;
}

@media screen and ( max-width: 570px ) {
	.wusm-cols,
	.cols-2,
	.cols-3,
	.cols-4 {
		width: 100%;
		padding: 0;
	}
}
